.todo-toggles {

}

.toggle-delete {

  background-color: transparent;
  border: .1em solid rgba(6, 232, 184, 0.5);
}

.todo-maker-section {
  border: .1em solid tranparent;
  background-color: rgba(184, 184, 159, 0.5);
}
