/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800);

$font-family: 'Open Sans', sans-serif;

@mixin font($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin bgColor($bgColor...) {
  background-color: $bgColor;
}

@mixin border($lineWeigth, $lineType, $lineColor) {
  border: $lineWeigth $lineType $lineColor;
}

body {
  font-family: $font-family
}

header {
  h1 {
    @include font(2.5em, 700, rgb(255, 13, 84));
  }
}

main {
  @include bgColor(rgba(184, 184, 159, 0.2));
  textarea {
    @include font(1em, 400, black);
  }
  button {
    @include font(.8em, 300, black);
    @include bgColor(transparent);
    @include border(.1em, solid, rgba(6, 107, 255, 0.5));
    border-radius: .5em;
    &:hover {
      color: white;
      @include bgColor(rgba(6, 107, 255, 0.5));
    }
  }
  .toggle-delete {
    @include bgColor(transparent);
    @include border(.1em, solid, rgba(6, 232, 184, 0.5));
    &:hover {
      color: white;
      @include bgColor(rgba(6, 232, 184, 0.5));
      @include border(.1em, solid, rgba(6, 232, 184, 0.5));
    }
  }
  .todo-maker-section {
    @includes border(.1em, solid, tranparent);
    @include bgColor(rgba(184, 184, 159, 0.5));
  }
}




